.link {
  color: #3b48db;
}

.link:hover {
  cursor: pointer;
  color: #0680cb;
}

.list {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding-left: 2rem;
}

.list li {
  list-style: '*';
  position: relative;
  padding: 0 0 0 20px;
}

@media (max-width: 550px) {
  .list {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
}
