.link {
  color: #3b48db;
}

.link:hover {
  cursor: pointer;
  color: #0680cb;
}

.list ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

.list li {
  list-style: '*';
  position: relative;
  padding: 0 0 0 20px;
}
